{% extends "finalproject/layout.html" %}

{% block body %}
<div class="some_our_trips">
    <h3>Wishlist</h3>
  </div>
  <hr>
  {% if message %}
  <div class="welcome_paragraph">
       <h4>{{message}}</h4>
      </div> 
    {% endif %}
    <div class="some_our_trips">
        {% for m in month_booked %}
    <h5>The month booked to travel is: <strong>{{m.month_trip}}</strong></h5>
    {% endfor %}
      </div>
    <br>

<div class="fg">
    <div class="row">
    {% for i in travel %}
    <div class="travel_img2">
        <img src="{{i.image1}}" alt="NOTHING" class="card-image">
        <div class="travel_img_text">
         <h4><strong>{{i.title}}</strong></h4><br>
         <p>{{i.short_description}}</p><br>    
         <h5>Price:<strong>$ {{i.price}}</strong></h5>
         <div class="link_BOOKING_DETAILS" style="display: flex;justify-content: flex-end;">
         <a href="{% url 'travel' id=i.id %}" class="btn btn-primary">Booking details</a>
        </div>
        </div>
       </div>
    {% endfor %}
</div>
</div>
{% endblock %}